/StrategyExample/StrategyExample/obj
/StrategyExample/StrategyExample/bin
/ProxyExample/ProxyExample/obj
/ProxyExample/ProxyExample/bin
/PatternFabrica/FabricaExample/obj
/PatternFabrica/FabricaExample/bin
/Event/PatternEventTemplateMethod/ConsoleApp1/obj
/Event/PatternEventTemplateMethod/ConsoleApp1/bin
/Event/PatternEventIterator/ConsoleApp1/obj
/Event/PatternEventIterator/ConsoleApp1/bin
/Event/PatternEvenCommand/ConsoleApp1/obj
/Event/PatternEvenCommand/ConsoleApp1/bin
/Event/PatternEvenCommandPultTv/ConsoleApp1/obj
/Event/PatternEvenCommandPultTv/ConsoleApp1/bin
/Event/PatternEventStrategy/ConsoleApp1/obj
/Event/PatternEventStrategy/ConsoleApp1/bin
/Event/PatternEventChain/ConsoleApp1/obj
/Event/PatternEventChain/ConsoleApp1/bin
/Event/PatternEventChain/ConsoleApp1/.vs
/Event/PatternEventMemento/ConsoleApp1/bin
/Event/PatternEventMemento/ConsoleApp1/obj
/Event/PatternEventIMediator/ConsoleApp1/bin
/Event/PatternEventIMediator/ConsoleApp1/obj
/Event/PatternEventVisitor/ConsoleApp1/bin
/Event/PatternEventVisitor/ConsoleApp1/obj
/Event/PatternEventInterpreter/ConsoleApp1/bin
/Event/PatternEventInterpreter/ConsoleApp1/obj
/Event/PatternEventState/ConsoleApp1/bin
/Event/PatternEventState/ConsoleApp1/obj
/CreatePatterns/Factory Method/bin
/CreatePatterns/Factory Method/obj
/CreatePatterns/Factory Method/.vs
/CreatePatterns/Abstract Factory/.vs
/CreatePatterns/Abstract Factory/bin
/CreatePatterns/Abstract Factory/obj
/CreatePatterns/Singleton/Singleton6/.vs
/CreatePatterns/Singleton/Singleton6/bin
/CreatePatterns/Singleton/Singleton6/obj
/CreatePatterns/Singleton/Singleton5/obj
/CreatePatterns/Singleton/Singleton5/.vs
/CreatePatterns/Singleton/Singleton5/bin
/CreatePatterns/Singleton/Singleton4/obj
/CreatePatterns/Singleton/Singleton4/.vs
/CreatePatterns/Singleton/Singleton4/bin
/CreatePatterns/Singleton/Singleton3/obj
/CreatePatterns/Singleton/Singleton3/.vs
/CreatePatterns/Singleton/Singleton3/bin
/CreatePatterns/Singleton/Singleton2/.vs
/CreatePatterns/Singleton/Singleton2/bin
/CreatePatterns/Singleton/Singleton2/obj
/CreatePatterns/Singleton/Singleton1/bin
/CreatePatterns/Singleton/Singleton1/obj
/CreatePatterns/Singleton/Singleton1/.vs
/CreatePatterns/Prototype/Prototype1/obj
/CreatePatterns/Prototype/Prototype1/bin
/CreatePatterns/Prototype/Prototype1/.vs
/CreatePatterns/Prototype/Prototype2/obj
/CreatePatterns/Prototype/Prototype2/.vs
/CreatePatterns/Prototype/Prototype2/bin
/CreatePatterns/Prototype/Prototype3/.vs
/CreatePatterns/Prototype/Prototype3/bin
/CreatePatterns/Prototype/Prototype3/obj
/CreatePatterns/Builder/.vs
/CreatePatterns/Builder/bin
/CreatePatterns/Builder/obj
/EventPatterns/Observer/.vs
/EventPatterns/Observer/bin
/EventPatterns/Observer/obj
