/StrategyExample/StrategyExample/obj
/StrategyExample/StrategyExample/bin
/ProxyExample/ProxyExample/obj
/ProxyExample/ProxyExample/bin
/PatternFabrica/FabricaExample/obj
/PatternFabrica/FabricaExample/bin
/Event/PatternEventTemplateMethod/ConsoleApp1/obj
/Event/PatternEventTemplateMethod/ConsoleApp1/bin
/Event/PatternEventIterator/ConsoleApp1/obj
/Event/PatternEventIterator/ConsoleApp1/bin
/Event/PatternEvenCommand/ConsoleApp1/obj
/Event/PatternEvenCommand/ConsoleApp1/bin
/Event/PatternEvenCommandPultTv/ConsoleApp1/obj
/Event/PatternEvenCommandPultTv/ConsoleApp1/bin
/Event/PatternEventStrategy/ConsoleApp1/obj
/Event/PatternEventStrategy/ConsoleApp1/bin
/Event/PatternEventChain/ConsoleApp1/obj
/Event/PatternEventChain/ConsoleApp1/bin
/Event/PatternEventChain/ConsoleApp1/.vs
/Event/PatternEventMemento/ConsoleApp1/bin
/Event/PatternEventMemento/ConsoleApp1/obj
/Event/PatternEventIMediator/ConsoleApp1/bin
/Event/PatternEventIMediator/ConsoleApp1/obj
/Event/PatternEventVisitor/ConsoleApp1/bin
/Event/PatternEventVisitor/ConsoleApp1/obj
/Event/PatternEventInterpreter/ConsoleApp1/bin
/Event/PatternEventInterpreter/ConsoleApp1/obj
/Event/PatternEventState/ConsoleApp1/bin
/Event/PatternEventState/ConsoleApp1/obj
/CreatePatterns/Factory Method/bin
/CreatePatterns/Factory Method/obj
/CreatePatterns/Factory Method/.vs
